.home-container {
  width: calc(var(--vw, 1vw) * 100);
}

.hero-container {
  position: relative;
}

.feature-container h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1.2rem;
  margin-top: -1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  text-align: center;
  color: var(--primary-20);
}

.feature-container h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background: linear-gradient(to right, var(--primary-40), var(--neutral-80));
  align-items: flex-start;
  margin: 1rem auto;
  border-radius: 2px;
}

.gallery-section h2 {
  font-size: 1.8em;
  font-weight: bold;
  margin-top: -0.5rem;
}

.home-container h3 {
  font-size: 1.6em;
  font-weight: bold;
  margin-bottom: 1.4rem;
  margin-top: 0.5rem;
  text-align: center;
}

.feature-container p {
  font-size: 18px;
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.info-text-container {
  position: absolute;
  bottom: 1%;
  left: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 1.1vw;
  text-shadow: 2px 2px 5px black;
  padding: 5px;
  border-radius: 8px;
  transform: translate(-52%, -50%);
  z-index: 10;
  text-align: center;
}

.hero-text h1 {
  font-size: clamp(2em, 2.5vw + 1em, 4em);
  line-height: clamp(1.4em, 0.8vw + 1em, 3em);
  color: var(--neutral-100);
  text-align: center;
  text-shadow: 1.1px 1.1px 2px black;
  font-weight: 700;
}

.button-group {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: clamp(1rem, 2vw + 1rem, 4rem);
  z-index: 10;
  margin-top: 2.5rem;
}

.gallery-section {
  padding-block: 1.8rem;
  border-block-end: 6px solid var(--neutral-90);
  background: linear-gradient(
    to right,
    var(--neutral-80),
    var(--neutral-100),
    var(--neutral-100),
    var(--neutral-80)
  );
}

.gallery-title {
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 0.4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--primary-20);
}

.gallery-section .gallery-text {
  font-size: 18px;
  font-style: oblique 20deg;
  text-align: center;
  padding-inline: 25rem;
  padding-top: 3rem;
  padding-bottom: -1rem;
}

.gallery-title::after {
  content: "";
  display: block;
  width: 65px;
  height: 4px;
  background: linear-gradient(to right, var(--primary-40), var(--neutral-80));
  margin: 0.5rem auto;
  border-radius: 2px;
}

/* Feature Layout */
.feature-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding-inline: clamp(1rem, 2vw + 0.5rem, 4rem);
  padding-block-start: 2rem;
  padding-block-end: 3rem;
}

.first-feature,
.second-feature {
  display: flex;
  gap: 4rem;
  margin: 1rem;
  align-items: center;
  justify-content: center;
}

.feature-banner {
  aspect-ratio: 3 / 2;
  overflow: hidden;
  min-width: 60%;
  max-width: 60%;
  border: 6px solid var(--neutral-90);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-banner-2 {
  aspect-ratio: 3 / 2;
  overflow: hidden;
  min-width: 60%;
  max-width: 60%;
  border: 6px solid var(--neutral-90);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.feature-content {
  padding-inline: 1rem;
}

.feature-list {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.feature-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 15px;
  color: var(--primary-20);
}

@media (max-width: 760px) {
  .hero-text {
    top: 38%;
  }

  .info-text-container {
    flex-direction: column;
    gap: 0rem;
    bottom: -10%;
  }

  .info-text-container p {
    font-size: 14px;
    font-weight: 600;
  }

  .button-group {
    top: 55%;
    left: 50%;
  }

  .feature-container h2 {
    font-size: 1.4em;
    text-align: left;
    line-height: 1.4em;
    margin-top: -1.8rem;
  }

  .feature-container h2::after {
    margin: 0rem;
    margin-block: 1rem;
    width: 40%;
  }

  .gallery-section h2 {
    font-size: 1.4em;
  }

  .gallery-title {
    font-size: 2rem;
  }

  .hero-text h1 {
    font-size: 30px;
    margin-inline: -1rem;
    line-height: 3rem;
    color: var(--neutral-100);
  }

  .button-group {
    margin-top: 3rem;
  }

  .feature-container p {
    font-size: 16px;
  }

  .gallery-section .gallery-text {
    padding-top: 3rem;
    font-size: 16px;
    padding-inline: 4rem;
  }

  .feature-item {
    font-size: 14px;
  }

  .feature-container {
    display: flex;
    flex-direction: column;
  }

  .home-container h3 {
    font-size: 1.3em;
    text-align: left;
    margin-top: 0rem;
  }

  .first-feature,
  .second-feature {
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin: 0rem;
  }

  .second-feature {
    margin-top: 1rem;
  }

  .feature-banner {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 3.5rem;
    background-size: cover;
    background-attachment: scroll;
  }

  .feature-banner-2 {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 3.5rem;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
  }

  .second-feature {
    flex-direction: column-reverse;
  }

  .feature-list {
    grid-template-columns: 1fr;
    margin-top: 0.5rem;
  }
}
