.heading-section {
  margin-inline: 3rem;
  text-align: center;
}

.heading-section h1 {
  padding-top: 1.8rem;
  font-size: 1.8em;
  font-weight: bold;
}

.heading-section h3 {
  font-size: 1.05em;
}

.models-section {
  padding-inline: 5rem;
  padding-block: 1.5rem;
}

@media (max-width: 760px) {
  .heading-section {
    margin-left: 3rem;
    text-align: left;
  }

  .heading-section h1 {
    font-size: 1.5em;
  }

  .models-section {
    padding-inline: 3rem;
  }
}
