.custom-button .btn {
  background-color: var(--primary-20);
  color: white;
  padding: 0.6rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: clamp(0.825rem, 1.1vw + 0.2rem, 1.2rem);
  font-weight: 600;
  width: clamp(8rem, 11vw + 3rem, 12rem);
}

.custom-button .btn:hover {
  background-color: var(--neutral-100);
  color: var(--primary-20);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
}
